@keyframes rot {
    from {
        transform: rotate(0deg)
        translate(-150px)
        rotate(0deg);
    }
    to {
        transform: rotate(360deg)
        translate(-150px)
        rotate(-360deg);
    }
}

.square {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 200px;
    left: 50%;
    margin: -20px;
    font-size: 100px;
    animation: rot 3s infinite linear;
}
