@import url("https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    border-radius: 10px;
    margin: 1rem;
    padding: 10px;
}

.site-title {
    margin-right: 150px;
    font-size: 2rem;
}



