*{
    font-family: "Times New Roman";
}

.main_container{
    display: flex;
    justify-content: space-between;
}

.main_container_left_block{
    width: 70%;
    margin-right: 2%;
}
.main_container_right_block{
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    background: white;
    width: 30%;
}
.main_container{
    border-radius: 10px;
    background: silver;
    padding: 15px;
}

.main_container_left_block_main{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: white;
}

.main_container_left_block_main_title{
    padding-top: 10px;
    padding-left: 10px;
}

.main_container_left_block_main_FIO{
    font-weight: bold;
    padding-left: 10px;
    color: dodgerblue;
}

.main_container_left_block_main_sex{
    font-weight: bold;
    padding-left: 10px;
    color: dodgerblue;
}

.main_container_left_block_main_span_3{
    padding-bottom: 15px;
}

.main_container_left_block_main_date{
    font-weight: bold;
    padding-left: 10px;
    color: dodgerblue;
}

.main_container_left_block_education{
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: white;
}

.main_container_left_block_contacts{
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: white;
}

.main_container_left_block_education_title{
    padding-top: 10px;
}

.main_container_left_block_education_building{
    font-weight: bold;
    color: dodgerblue;
}

.main_container_left_block_education_faculty{
    font-weight: bold;
    color: dodgerblue;
}

.main_container_left_block_education_speciality{
    font-weight: bold;
    color: dodgerblue;
}

.main_container_left_block_education_date{
    font-weight: bold;
    color: dodgerblue;
}

.for_border_left{
    border-left: 5px solid dodgerblue;
    padding-left: 15px;
}

.main_container_left_block_contacts_title{
    padding-top: 10px;
}

.main_container_left_block_contacts_number_text{
    font-weight: bold;
    color: dodgerblue;
}

.main_container_left_block_contacts_email_text{
    font-weight: bold;
    color: dodgerblue;
}

.main_container_left_block_contacts_email{
    text-decoration-line: underline;
}

.main_container_right_block_title{
    padding-left: 40px;
}
.main_container_right_block_image{
    padding-left: 40px;
}

.main_container_right_block_about_me_image{
    border-radius: 40px;
    width: 90%;
    height: 60%;
}